{% extends "layout.html" %}
{% load static %}
{% load text_filters %}

{% block title %}
    Инвайты — {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content user-edit">
        <div class="form-title">💌<br>Инвайты</div>

        <div class="block-description block-description-center">
            <p>
                Здесь вы можете создать инвайт и подарить его своему другу, чтобы он смог зарегистрироваться в Клубе.
                {% if not can_create_invite %}
                    <br><br>
                    <strong>У вас уже есть максимальное количество активных инвайтов ({{ max_invites }}).</strong>
                    <br>
                    Дождитесь, пока кто-то использует ваши существующие инвайты, чтобы создать новые.
                {% endif %}
            </p>

            {% if can_create_invite %}
                <br>
                <form action="{% url "godmode_generate_invite_code" %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="button">🎁 Создать инвайт-код</button>
                </form>
            {% endif %}

            {% if invites %}
                <div class="invites-list">
                    {% for invite in invites %}
                        <a href="{% url "show_invite" invite.code %}" class="invites-list-item">
                            <div class="invites-list-item-code">
                                <strong>{{ invite.code }}</strong>
                                {% include "invites/widgets/status_badge.html" %}
                            </div>
                            <div class="invites-list-item-date">
                                Создан {{ invite.created_at | date:"j E Y" }}
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
